@inherits LayoutComponentBase

<MudThemeProvider IsDarkMode="true" />
<MudDialogProvider />
<MudSnackbarProvider />

<MudLayout>
    <MudAppBar Color="Color.Primary" Fixed="false">
        <MudText Style="font-family:monospace" Typo="Typo.h5">SignalR Client</MudText>
        <MudSpacer />
        <a href="https://github.com/Ziad17/signalr-client-blazor" target="_blank">
        <MudIcon Icon="@Icons.Custom.Brands.GitHub" Color="Color.Inherit" />
        </a>
    </MudAppBar>
    <div style="margin: 15px">
        @Body
    </div>

</MudLayout>

